body {
    background-image: url(photo3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    margin: 20px;
    overflow-x: hidden;
}

.tout {
    margin: auto;
    margin-top: 5vw;
    text-align: center;
    border: 2px solid rgb(41, 14, 110);
    box-shadow: 3px 3px 4px;
    border-radius: 1vw;
    padding: 2vw;
    max-width: 80vw;
    width: 60vw;
}


.OptionCont{
    display: flex;
}
.OptionButton{
    /*margin-left: -53vw;*/
    padding: 0.5vw 1vw;
    font-size: 1.2vw; 
    border-radius: 1vw;
    background-color: rgba(240, 248, 255, 0.664);
    font-weight: 750;
}
.OptionButton:hover{
    background-color: aliceblue;
}

#ReplayBtn{
    margin-left: 48vw;
}

#time{
    display: block;
    text-align: center;
    font-size: 8vw; 
    font-family: Helvetica;
    color: rgb(252, 252, 252);
}
h2{
    color: rgb(185, 15, 15);
    margin: auto ;
    font-size: 4vw;
}
h3{
    color: aliceblue;
    margin: auto ;
    font-size: 3vw;
}

.container{
    display: flex;
}

/* conteur */
.btncent {
    margin-left: 3vw;
    margin-right: 3vw;
    /*text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: inline;
    border: 2px dashed rgb(41, 14, 110);
    border-radius: 1vw;
    padding: 1vw;
    margin: 1vw; */
}
.Label{
    display: block;
    text-align: center;
    font-size: 8vw; 
    font-family: Helvetica;
    color: rgb(209, 231, 250);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vw;
}
.button {
    padding: 1vw 2vw; 
    font-size: 1.5vw; 
    color: rgb(47, 16, 120);
    border-radius: 1vw; 
    cursor: pointer;
    transition: background-color 0.25s;
    font-weight: 600;
}
.button:not(:disabled):hover{ 
    background-color: rgb(77, 126, 168);
    /*animation-name: animeGlow;*/
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes animeGlow {
    50% { box-shadow: 0px 0px 50px rgb(239, 219, 249); }
}

#h11{
    font-size: 4vw;
    color: brown;
}
#usernom{
    color: rgb(123, 21, 219);
    font-size: 2vw;
}
#I1{
    font-size: 2vw;
    background-color: rgba(240, 248, 255, 0.795);
}
#B1{
    background-color: rgba(240, 248, 255, 0.795);
    font-size: 1.8vw;
}

